<!-- <div class="text-layout">
    <h1>Hola Mundo</h1>

</div>

<button pButton label="click"></button>

<br>
<br>

<button pButton 
        class="p-button-help" 
        icon="pi pi-check" 
        iconPos="right"
        label="help"
        >
</button>

<p-card [header]="nombre | titlecase" 
        [style]="{'width': '25rem', 'margin-top':'10px'}">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ipsa possimus voluptatibus vitae, eligendi iste dolores maiores ab repellat consectetur facilis doloremque similique alias quod voluptates quaerat amet, nesciunt odit!
    </p>
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
